header {
	background-color: #eebb44;
	margin-top: -21px;
	margin-bottom: 40px;
}

img {
	width: 100%;
}

.card {
	border: 1px solid grey;
	margin: .625%;
}

h2, p {
	position: relative;
	left: 5%;
}

#p {
	position: relative;
	left: 0;
}